@model Online_Student_Admission_System.Models.Student
@{
    var name = TempData["Name"];
}
<head>
    <style>
        h3{

            margin-top:200px;
        }
    </style>
</head>

<center><h3 class="text-primary">Hey, @name Your Admission form is being Processed.You can login after You have been approved by University Adminstration. </h3></center>
